apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-config
  namespace: monitoring
type: Opaque
stringData:
  alertmanager.yaml: |
    global:
      smtp_smarthost: 'smtp.gmail.com:587'
      smtp_from: 'aliabdrabu78@gmail.com'
      smtp_auth_username: 'aliabdrabu78@gmail.com'
      smtp_auth_password: 'ali6913021aa'
      smtp_require_tls: true

    route:
      receiver: 'email-alerts'

    receivers:
    - name: 'email-alerts'
      email_configs:
      - to: 'aliabdrabu78@gmail.com'
        send_resolved: true

